body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#A-base {
    display: flex;
    background-color: #050000;
    height: 100vh;
}

#B-main {
    display: flex;
    flex: 5;
    width: 100%;
    height: auto;
    background-color: #00fc8a;
    flex-direction: column;
}

#B-physical {
    flex: 2;
    background-color: #540007;
    display: flex;
    justify-content: center;
    align-items: center;
}

#C-info {
    display: flex;
    flex-direction: row;
    flex: 3;
    background-color: #0066ff;
}

#C-targets {
    flex: 2;
    background-color: #cd0000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#D-bio {
    flex: 1;
    background-color: #c9e621;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#D-games_and_recovery {
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: #fcc200;
}

#E-games {
    flex: 1;
    background-color: #00d9f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#E-recovery {
    flex: 1;
    background-color: #00f138;
    display: flex;
    justify-content: center;
    align-items: center;
}

#E-player-select {
    background-color: transparent;
}

#E-Bio_infos p {
    color: black;
    text-align: center;

}
