/* Reset global */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1d2327; /* Blanc cassé */
    color: #ffffff; /* Texte sombre pour le contraste */
}

/* Conteneur principal */
#A-base {
    display: flex;
    flex-direction: column;
    gap : 1%;
}

#AB-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 1%;
    height: 5%;
    gap: 5%;
}

#AB-bot{
    flex : 19;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap : 3%;
    padding: 1%;
    border-radius: 10px;
    background-color:#101517;
}

#E-player-select {
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
}

#E-player-select:hover {
    background-color: #8592f7;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Section principale */
#B-main {
    flex: 5.5;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

/* Informations */
#C-info {
    display: flex;
    flex-direction: row;
    height: 79%;
    width: 100%;
    border-radius: 10px;
    padding: 1%;
    gap: 1%;
}

#D-bio {
    flex: 1;
    background-color: #1d2327;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

#E-Bio_infos {
    text-align: center;
    margin-top: 15px;
}

#E-Bio_infos h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.player-img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgb(0, 37, 249);
    margin-bottom: 10px;
}
/* Jeux et récupération */
#D-games_and_recovery {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    gap: 1%;
}

#E-games{
    display: flex;
    flex-direction: row;
    height: 40%;

    background-color: #1d2327;
    color : whitesmoke;

    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

#E-recovery {
    display: flex;
    flex-direction: column;
    height: 60%;

    background-color: #1d2327;
    color : whitesmoke;

    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0.1, 0.1, 0.1, 0.1);
    padding: 5%;
}


/* CSS POUR PARTIE TARGET*/
#C-targets {
    display: flex;
    flex-direction: row;
    height: 19%;
    width: 100%;

    border-radius: 10px;
    padding: 1%;
    gap: 1%;
}

.D-target-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0a346e;
    border-radius: 8px;
    gap: 2%;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 90%;
    width: 33.3%;
}

.date, .tracking {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    font-size: 1.2em;
}

/* CSS POUR PARTIE PHYSIQUE*/
#B-physical {
    flex:2;
    background-color: #0a346e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%; /* Plus d'espace pour l'aération */
    border-radius: 10px; /* Bords légèrement plus arrondis */
    gap: 1%;
}

#C-movement {
    display: flex;
    width: 95%;
    height: 30%;
    flex-direction: column;
    justify-content: center; /* Centre le contenu verticalement */
    align-items: center; /* Centre horizontalement */
    background-color: #072754;
    border-radius: 8px;
    text-align: center;
    overflow: hidden; /* Empêche les dépassements */
}

#D-phy-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 3%;
    overflow: hidden; /* Assure que rien ne dépasse */
}

canvas {
    max-height: 100%;
    max-width: 75%;
}

#E-quality, #E-phy-text {
    color: #e3f2fd;
    border-radius: 8px;
    text-align: center;
}


/* Responsivité */
@media (max-width: 768px) {
    #body {
        width: 98%;
    }
    #A-base {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #B-main, #B-physical {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #D-target-card {
        width: 80%;
        display: flex;
        flex-direction: column;

    }
}


