/* Reset global */
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden; /* On empêche le scroll */
    font-family: 'Arial', sans-serif;
    background-color: #101517fa;
    color: #ffffff;
}

#A-base {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100vh; /* prend toute la hauteur */
    box-sizing: border-box;
}

#AB-top {
    display: flex;
    justify-content: space-between; /* Sépare titre et select */
    align-items: center;
    height: 60px; /* ou un % plus raisonnable si besoin */
    padding: 0 20px;
    background-color: #034694;
    color: white;
    position: relative;
    border-bottom: 1px solid #ffffff33;
}

#top-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    margin: 0;
}

#top-select-wrapper {
    margin-left: auto;
}

#E-player-select {
    background-color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
}
#E-player-select:hover {
    background-color: #8592f7;
}
/*###############################*/
/* CSS pour la partie principale */
/*###############################*/

#AB-bot {
    height: 97%; /* Permet de prendre tout l'espace dispo */
    overflow: hidden; /* Évite le scroll interne */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
}
#AB-bot h1{
    font-size: 15px;
    color: whitesmoke;
}
label {
    font-weight: bold;
    margin-bottom: 10px;
}

#B-main {
    flex: 5.5;
    height: 100%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#B-physical {
    max-width: 20%;
    max-height: 100%;
    background-color: #034694;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Plus d'espace pour l'aération */
    border-radius: 10px; /* Bords légèrement plus arrondis */
    gap: 10px;
}

#C-info {
    height: 80%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    gap: 30px;
}
#C-targets {
    max-height: 20%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    gap: 10px;
}
#C-movement {
    display: flex;
    width: 95%;
    height: 30%;
    flex-direction: column;
    justify-content: center; /* Centre le contenu verticalement */
    align-items: center; /* Centre horizontalement */
    background-color: #022E62;
    border-radius: 10px;
    text-align: center;
    overflow: hidden; /* Empêche les dépassements */
}

#D-bio {
    display: flex;
    flex-direction: column;
    width:20%;
    max-width: 20%;
    height: 100%;
    gap: 10px;
}
#D-games_and_recovery {
    display: flex;
    flex-direction: column;
    height: 100%;
    width:80%;
    max-width: 80%;
    gap: 10px;
}
#D-target-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #034694;
    border-radius: 10px;
    gap: 2px;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 90%;
    width: 33.3%;
}
.date, .tracking {
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon {
    font-size: 1.2em;
}
#D-phy-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-height: 72%;
}

#E-player_picture{
    text-align: center;
    background-color: #1d2327;
    height: 38%;
    max-height: 38%;
    max-width: 100%;
    width: 100%;
    padding:10px;
    border-radius: 8px;
}
#E-match_stats {
    background-color: #1d2327;
    height: 50%;
    max-height: 50%;
    width: 100%;
    border-radius: 8px;
    text-align: center;
}
#E-Bio_infos h3 {
    font-size: 18px;
    margin-bottom: 15px;
}
.player-img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    margin-bottom: 10px;
}
#E-games{
    padding:10px;
    display: flex;
    flex-direction: column;
    height: 62%;
    max-height: 62%;
    width: 100%;
    max-width: 100%;

    background-color: #1d2327;
    color : whitesmoke;

    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 11px;
    gap: 1px;
}
#E-recovery {
    display: flex;
    flex-direction: column;
    height: 50%;
    max-height: 50%;
    max-width: 100%;

    background-color: #1d2327;
    color : whitesmoke;

    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0.1, 0.1, 0.1, 0.1);
    padding: 10px;
}
#E-recovery-chart-container {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
}
#E-quality, #E-phy-text {
    color: #e3f2fd;
    border-radius: 10px;
    text-align: center;
}

#F-game-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}
#F-match_stats-canvas {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
}
#F-match_stats-canvas canvas {
    max-width: 33%; /* S'assure que les graphiques ne dépassent pas la largeur de leur conteneur */
    max-height: 90%; /* S'assure que les graphiques ne dépassent pas la hauteur de leur conteneur */
}

#G-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    gap: 1px;
}


/* Responsivité */
@media (max-width: 768px) {
    * {
        box-sizing: border-box;
    }
    #body {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    #A-base {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    #AB-top {
        flex-direction: column;
        align-items: center;
        height: 400px;
        gap: 10px;
        padding: 10px;
    }
    #AB-bot {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }
    #C-info {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    #D-bio {
        gap: 10px;
        padding: 10px;
    }
    #E-Bio_infos {
        gap: 10px;
        padding: 10px;
    }
    #D-games_and_recovery {
        gap: 10px;
        padding: 10px;
        width: 100%;
        max-width: 100%;
        
    }
    #E-games {
        flex-direction: row;
        font-size: 10px;
        row-gap: 10px;
    }
    #E-recovery{
        flex-direction: column;
        height: 300px;
        width: 100%;
        max-width: 100%;
        padding : 10px;
        gap: 10px;
        overflow: scroll;
    }
    #C-targets {
        flex-direction: row;
        padding: 10px;
        gap: 10px;
    }
    .D-target-card {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
        padding: 10px;
    }
    #B-physical {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        padding: 10px;
        gap: 10px;
    }
    #C-movement {
        padding: 10px;
        gap: 10px;
        width: 100%;
        max-width: 100%;
    }
    #D-phy-stats {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }
    #E-quality, #E-phy-text {
        padding: 10px;
        gap: 10px;
    }
    #G-game {
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
        gap: 1px;
    }
}