<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/bio_selector_names.js"></script>
    <script src="../static/js/bio_get_info.js"></script>
    <script src="../static/js/games_match_display.js"></script>
    <script src="../static/js/recovery_get_info.js"></script>
    <script src="../static/js/physic_get_info.js"></script>
    <title>CFC</title>
</head>
<body>
    <div id="A-base">
        <div id="B-main">
            <div id="C-info">
                <div id="D-bio">
                    <select id="E-player-select">
                        <option value="">Sélectionner un joueur</option>
                    </select>
                    <div id = E-Bio_infos></div>
                </div>
                <div id="D-games_and_recovery">
                    <div id="E-games">Games</div>
                    <div id="E-recovery">Recovery</div>
                </div>
            </div>
            <div id="C-targets">targets</div>
        </div>
        <div id="B-physical"> physical </div>
    </div>
</body>
</html>